<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Công Việc</title>
</head>
<body>
<div layout:fragment="mainContent">
    <h1 class="mt-4">Quản lí Công Việc</h1>
    <div class="card mb-4">
        <div class="card-header">
            <a th:href="@{/congviec/congviec-add}" class="btn btn-primary "><i class="fa-solid fa-plus"></i> Thêm Công Việc Mới</a>
        </div>
        <div class="card-body">
            <table id="datatablesCongViec" class="display">
                <thead>
                <tr>
                    <th>Mã SV</th>
                    <th>Họ Và Tên</th>
                    <th data-type="date" data-format="YYY/MM/dd">Ngày vào công ty</th>
                    <th>Ngành</th>
                    <th>Công Việc</th>
                    <th>Công Ty</th>
                    <th>Địa chỉ Công Ty</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Mã SV</th>
                    <th>Họ Và Tên</th>
                    <th data-type="date" data-format="YYY/MM/dd">Ngày vào công ty</th>
                    <th>Ngành</th>
                    <th>Công Việc</th>
                    <th>Công Ty</th>
                    <th>Địa chỉ Công Ty</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="congviec : ${congviecList}">
                    <td th:text="${congviec.sinhVien.maSV}"></td>
                    <td th:text="${congviec.sinhVien.hoVaTen}"></td>
                    <td th:text="${congviec.ngayVaoCT}"></td>
                    <td th:text="${congviec.nganh.tenNganh}"></td>
                    <td th:text="${congviec.tenCV}"></td>
                    <td th:text="${congviec.tenCT}"></td>
                    <td th:text="${congviec.diaChiCT}"></td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
</script>
</body>
