<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sinh Viên</title>
</head>
<body>
<div layout:fragment="mainContent">
    <h1 class="mt-4">Chi tiết sinh viên</h1>
    <div class="card mb-4">
        <div class="card-header">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Mã Sinh Viên</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td th:text="${sinhvien.maSV}"></td>
                        <td th:text="${sinhvien.hoVaTen}"></td>
                        <td th:text="${sinhvien.email}"></td>
                        <td th:text="${sinhvien.soDT}"></td>
                        <td th:text="${sinhvien.diaChi}"></td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <h5>Danh sách tốt nghiệp
                    <a th:href="@{/sinhvien/{sinhvienId}/totnghiep-add(sinhvienId=${sinhvien.maSV})}" class="btn btn-outline-primary float-end"><i class="fa-solid fa-plus"></i> Thêm</a>
                </h5>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Mã Trường</th>
                        <th>Mã Ngành</th>
                        <th>Hệ tốt nghiệp </th>
                        <th>Ngày tốt nghiệp</th>
                        <th>Loại tốt nghiệp</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="totnghiep : ${totnghiepList}">
                        <td th:text="${totnghiep.truong.maTruong}"></td>
                        <td th:text="${totnghiep.nganh.maNganh}"></td>
                        <td th:text="${totnghiep.heTN}"></td>
                        <td th:text="${totnghiep.ngayTN}"></td>
                        <td th:text="${totnghiep.loaiTN}"></td>

                    </tr>
                </table>
            </div>
            <div class="table-responsive">
                <h5>Danh sách công việc
                    <a th:href="@{/sinhvien/{sinhvienId}/congviec-add(sinhvienId=${sinhvien.maSV})}" class="btn btn-outline-primary float-end"><i class="fa-solid fa-plus"></i> Thêm</a>
                </h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ngày vào công ty</th>
                        <th>Mã Ngành</th>
                        <th>Tên Công Việc</th>
                        <th>Tên Công Ty</th>
                        <th>Địa chỉ Công Ty</th>
                        <th>Năm làm việc</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="congviec : ${congviecList}">
                        <td th:text="${congviec.ngayVaoCT}"></td>
                        <td th:text="${congviec.nganh.maNganh}"></td>
                        <td th:text="${congviec.tenCV}"></td>
                        <td th:text="${congviec.tenCT}"></td>
                        <td th:text="${congviec.diaChiCT}"></td>
                        <td th:text="${congviec.thoiGianLamViec}"></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
</script>
</body>
