<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sinh Viên</title>
</head>
<body>
<div layout:fragment="mainContent">
    <h1 class="mt-4">Chi tiết sinh viên</h1>
    <div class="mb-4">
        <div class="row">
            <div class="col-lg-2 col-md-4 d-flex align-items-center">
                <img onerror="this.src='/uploads/avatar-default.png';" th:src="@{/uploads/{avatar}(avatar=${sinhvien.avatar})}" class="w-100 my-2 ms-2">
            </div>
            <div class="col-lg-10 col-md-7 ">
                <h5 class="form-label ms-2 my-2">Mã Sinh Viên</h5>
                <input class="form-control" th:value="${sinhvien.maSV}">

                <h5 class="form-label ms-2 my-2">Họ và tên</h5>
                <input class="form-control  " th:value="${sinhvien.hoVaTen}">

                <h5 class="form-label ms-2 my-2">Email</h5>
                <input class="form-control  " th:value="${sinhvien.email}">

                <h5 class="form-label ms-2 my-2">Số điện thoại</h5>
                <input class="form-control  " th:value="${sinhvien.soDT}">

                <h5 class="form-label ms-2 my-2">Địa chỉ</h5>
                <input class="form-control " th:value="${sinhvien.diaChi}">

            </div>
        </div>
        <div class="row mt-5">
            <div class="table-responsive">
                <h5>Danh sách tốt nghiệp
                    <a th:href="@{/sinhvien/{sinhvienId}/totnghiep-add(sinhvienId=${sinhvien.maSV})}"
                       class="btn btn-outline-primary float-end"><i class="fa-solid fa-plus"></i> Thêm</a>
                </h5>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Mã Trường</th>
                        <th>Mã Ngành</th>
                        <th>Hệ tốt nghiệp</th>
                        <th>Ngày tốt nghiệp</th>
                        <th>Loại tốt nghiệp</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="totnghiep : ${totnghiepList}">
                        <td th:text="${totnghiep.truong.maTruong}"></td>
                        <td th:text="${totnghiep.nganh.maNganh}"></td>
                        <td th:text="${totnghiep.heTN}"></td>
                        <td th:text="${totnghiep.ngayTN}"></td>
                        <td th:text="${totnghiep.loaiTN}"></td>

                    </tr>
                </table>
            </div>
            <div class="table-responsive">
                <h5>Danh sách công việc
                    <a th:href="@{/sinhvien/{sinhvienId}/congviec-add(sinhvienId=${sinhvien.maSV})}"
                       class="btn btn-outline-primary float-end"><i class="fa-solid fa-plus"></i> Thêm</a>
                </h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ngày vào công ty</th>
                        <th>Mã Ngành</th>
                        <th>Tên Công Việc</th>
                        <th>Tên Công Ty</th>
                        <th>Địa chỉ Công Ty</th>
                        <th>Năm làm việc</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="congviec : ${congviecList}">
                        <td th:text="${congviec.ngayVaoCT}"></td>
                        <td th:text="${congviec.nganh.maNganh}"></td>
                        <td th:text="${congviec.tenCV}"></td>
                        <td th:text="${congviec.tenCT}"></td>
                        <td th:text="${congviec.diaChiCT}"></td>
                        <td th:text="${congviec.thoiGianLamViec}"></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
</script>
</body>
